@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: antiquewhite;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}